* {
    box-sizing: border-box;
    background-color: #def4c6;
  }
  body {
    font-family:fantasy;
    margin: 0;
  }

  .main-header {
    display:flex;
    justify-content: end;
    padding: 60px;
    background-color: #1c7c54;
  }

  body header ul {
    display: inline-flex;
  }

  body header ul li {
    margin-left: 15px;
    float: right;
    text-decoration: none;
  }

  .aboutme h2 {
    font-size: 200%;
    text-align: center;
    background-color: #73e2a7;
  }
  .aboutme p {
    margin-top: 100px;
    text-align: center;
    background-color: #73e2a7;
  }
  .myprojects h3 {
    font-size: 200%;
    text-align: center;
    background-color: #73e2a7;
    margin-top: 100px;
  }
  .myprojects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .card1 {
    text-align: center;
    border-style: double;
    border-width: 10px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 100px;
    border-radius: 50px;
    box-shadow: 15px 15px 15px #1b512d;
    background-color: none;
  }
  .card {
    border-style:double;
    border-width: 10px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 100px;
    border-radius: 50px;
    box-shadow: 15px 15px 15px #1b512d;
    background-color: none;
    text-align: center;
    width: 45%;
    flex-wrap: wrap;

  }
  .card header {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }
  .card1 header {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }

  .contactme h4 {
    font-size: 200%;
    text-align: center;
    background-color: #73e2a7;
    margin-top: 100px;
    margin-bottom: 25px;
  }
  .contactme ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50 px;
  }
  a:link {
    color: #0D1F22;
  }
  
  a:visited {
    color: #0D1F22;
  }
  
  a:hover {
    color: #264027;
  }
  
  a:active {
    color: #264027;
  }
  
  a:link, a:visited {
    text-decoration: none;
  }