:root{
  --text: #33393f;
  --radius: 8px;
}

* {
  box-sizing: border-box;
}

body {
  font-family:fantasy,sans-serif;
  margin: 0;
  background-image: url(./simon-berger-twukN12EN7c-unsplash.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  min-height: 125%;
}  
.main-header {
  display: flex;
  justify-content: flex-end;
  padding-top: 3%;
  padding-bottom: 3%;
}

.main-header ul { 
  display:flex;
  justify-content: space-evenly;
  padding: 25px;
}

body header ul li {
  margin-left: 15px;
  text-decoration: none;
}

h1 {
  font-size: 200%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  letter-spacing: 3px;
}

.aboutme {
  margin-left: 15%;
  margin-right: 15%;
}
.aboutme img {
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: var(--radius);
}

.aboutme h2 {
  font-size: 200%;
  text-align: center;
  margin-top: 25px;
  letter-spacing: 3px;
}
  
.aboutme p {
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 1px;
}

.myprojects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myprojects h3 {
  font-size: 200%;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 3px;
} 

.project-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
  justify-content: center;
  padding:20px;
}

.project1 {
  min-width: 200px;
  min-width: 200px;
  flex: 0 0 50%;
  padding: 5px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 50%;
  padding: 5px;
  height: 30vh;
}

#horiseon {
  text-align: center;
  border: solid 4px black;
  border-radius: var(--radius);
  flex: 0 0 100%;
  background-image: url(./horiseon.png);
  background-size:cover;
  background-repeat:no-repeat;
}

.card2 {
  border: solid 4px black;
  flex: 0 0 45%;
  width: 50%;
  margin: 5px;
  border-radius: var(--radius);
  background-color: none;
  text-align: center;
  background-image: url(./css-cheatsheet-crop.png);
  background-size:cover;
  background-repeat:no-repeat;
}

.card2 h3 {
  color: white;
}
.card3 {
  border: solid 4px black;
  flex: 0 0 45%;
  width: 50%;
  margin: 5px;
  border-radius: var(--radius);
  background-color: none;
  text-align: center;
  background-image: url(./work-in-progress.png);
  background-size:cover;
  background-repeat:no-repeat;
}

.card4 {
  border: solid 4px black;
  flex: 0 0 45%;
  width: 50%;
  margin: 5px;
  border-radius: var(--radius);
  background-color: none;
  text-align: center;
  background-color: #84d386;
}
  
.card header {
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  margin: 75px;
}
  
.card1 header {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin: 100px;
}

.contactme h4 {
  font-size: 200%;
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
}
  
.contactme ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 200px;
}
 
.contactme li {
  margin-left: 30px;
  text-shadow:1px 1px 10px #eb7b7b;
}

a:link {
  color: #000000;
}
  
a:visited {
  color: #000000;
}
  
a:hover {
  color: #ffffff;
}
  
a:active {
  color: #264027;
}
  
a:link, a:visited {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .project-card {
      flex-direction: column;
  }
  body {
    background-size: center;
  }
  .card2 {
    height: 15vh;
  }

  .card3 {
    height: 15vh;
  }

}

@media screen and (min-width: 992px) {
  .project-card {
      flex-direction:row;
  }
  body {
    background-size: center;
  }
}
/* @media screen and (max-width: 768px) {
  .project-card {
      flex-direction: column;
  }
  body {
    background-size: auto;
  }
} */

.project1 {
  transition: all .2s ease-in-out;
}

.project1:hover {
  transform: scale(0.9);
}

.card2 {
  transition: all .2s ease-in-out;
}

.card2:hover {
  transform: scale(0.9);
}

.card3 {
  transition: all .2s ease-in-out;
}

.card3:hover {
  transform: scale(0.9);
}